ROUGE/ROUGE-EVAL/
wikipedia/
*.pyc
JonStuff/
RedditComments.py
timinginfo.txt
WikipediaSummarizer.py
remove_all.py

ROUGE/DUC-2007/SYSTEM/
hadoopStuff/*.txt
hadoopStuff/D0701A/*
*.jar
*.p
copy-all.py
hadoopStuff/jobOutput/*
hadoopStuff/docs
hadoopStuff/old_mapper_reducers
hadoopStuff/test_pickles.py
hadoopStuff/*.p
hadoopStuff/DO701A
hadoopStuff/DataFiles
hadoopStuff/DataSet
ROUGE/ROUGE-RELEASE-1.5.5
hadoopStuff/k_means_test.py
*.txt