Old_Summarization_Files/ROUGE/ROUGE-EVAL/DUC-2007/docs/*/*
Old_Summarization_Files/ROUGE/ROUGE-EVAL/
Old_Summarization_Files/wikipedia/
*.pyc
Old_Summarization_Files/JonStuff/
Old_Summarization_Files/RedditComments.py
Old_Summarization_Files/timinginfo.txt
Old_Summarization_Files/WikipediaSummarizer.py
Old_Summarization_Files/remove_all.py

Old_Summarization_Files/ROUGE/DUC-2007/SYSTEM/
Old_Summarization_Files/hadoopStuff/*.txt
Old_Summarization_Files/hadoopStuff/D0701A/*
*.jar
*.p
Old_Summarization_Files/copy-all.py
Old_Summarization_Files/hadoopStuff/jobOutput/*
Old_Summarization_Files/hadoopStuff/docs
Old_Summarization_Files/hadoopStuff/old_mapper_reducers
Old_Summarization_Files/hadoopStuff/test_pickles.py
Old_Summarization_Files/hadoopStuff/*.p
Old_Summarization_Files/hadoopStuff/DO701A
Old_Summarization_Files/hadoopStuff/DataFiles
Old_Summarization_Files/hadoopStuff/DataSet
Old_Summarization_Files/ROUGE/ROUGE-RELEASE-1.5.5
Old_Summarization_Files/hadoopStuff/k_means_test.py
Old_Summarization_Files/*.txt
Old_Summarization_Files/hadoopStuff/mapper_test.py
Old_Summarization_Files/hadoopStuff/reducer_test.py
Old_Summarization_Files/hadoopStuff/nltk_data.zip
Old_Summarization_Files/hadoopStuff/map_reduce_folders
Old_Summarization_Files/mrjob_stuff/*.txt
Old_Summarization_Files/mrjob_stuff/old/
Old_Summarization_Files/mrjob_stuff/test.py
test.txt
stop_word_creater.py
*.txt
scala_tutorial_stuff/Spark_Scala/project/
scala_tutorial_stuff/Spark_Scala/target/
scala_tutorial_stuff/Streaming_stuff/project/
scala_tutorial_stuff/Streaming_stuff/target/